
body {
    margin: auto;
}

.navbar {
    background-color: #F0B27A;
    width: 100%;
}

.nav-link {
    color: rgb(75, 45, 7) !important;
}

.logo {
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    border: 5px solid;
    border-radius: 46px;
    border-color: #a7793b;
}

.botonesheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.botonesheader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonesheader ul li {
    margin-bottom: 10px;
}

.botonesheader ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 45, 7);
}

.banner img {
    width: 100%;
    display: block;
    height: auto;
}

footer {
    background-color: #F0B27A;
    padding: 20px;
    text-align: center;
}

.contactos {
    text-align: center;
    margin-bottom: 10px;
}

.contactos a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(146, 92, 11);
    font-size: smaller;
    font-style: oblique;
}

.contactos i {
    font-size: 24px;
}

footer p {
    margin: 0;
}

main {
    margin-bottom: 15px;
}

.titulo {
    color: rgb(204, 129, 31);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: -30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.textoquienessomos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    padding: 15px;
}

.gente {
    padding: 50px 15px;
}

.tituloeditoriales {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(204, 129, 31);
    padding-top: 25px;
}

@media only screen and (min-width: 768px) {
    header {
        display: block;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .botonesheader {
        flex-direction: row;
    }

    .botonesheader ul {
        flex-direction: row;
    }

    .botonesheader ul li {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .botonesheader ul li:last-child {
        margin-right: 0;
    }

    .banner img {
        height: 350px;
    }

    .textoquienessomos {
        padding: 55px 15px;
    }

    .gente {
        padding: 50px 120px;
    }

    .imgeditoriales {
        height: 400px;
    }
}

@media only screen and (min-width: 992px) {
    .botonesheader {
        margin-right: 380px;
    }

    .textoquienessomos {
        padding-left: 55px;
    }
}

@media only screen and (max-width: 768px) {
    .textoquienessomos {
        font-size: medium;
        padding: 15px;
    }
}